<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${title}"></title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h1 th:text="${title}"></h1>

                    <div style="max-width: 800px; margin: 50px auto">
                        <canvas id="myChart" width="800" height="400"></canvas>
                    </div>

                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                    <script th:inline="javascript">

                        var ctx = document.getElementById('myChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: [[${labels}]],
                                datasets: [{
                                    data: [[${values}]],
                                    backgroundColor: [[${backgrounds}]],
                                    borderWidth: 3
                                }]
                            },
                            options: {
                                plugins: {
                                    legend: {display: false}
                                },
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });

                    </script>

                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>